/*******************************
  Font Defaults
*******************************/
@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothic/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic/CenturyGothic.svg#CenturyGothic") format("svg"), url("../fonts/CenturyGothic/CenturyGothic.ttf") format("truetype"), url("../fonts/CenturyGothic/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic/CenturyGothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#banner-button-container, #skill-groups-container, .individual-project-container, #back-to-top-container a, #social-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-container > ul, #social-links-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*******************************
  Global Defaults
*******************************/
* {
  margin: 0;
  padding: 0;
  font-family: 'CenturyGothic';
}

body {
  background: #111111;
}

body .section {
  padding: 24px 8px 84px 8px;
}

body .main-section:nth-child(odd) {
  background-color: #FFFFFF;
}

body .main-section:nth-child(even) {
  background-color: #F5F5F5;
}

body .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
}

body h1 {
  margin: 48px 0px;
  padding: 12px 0;
  font-size: 40px;
  color: #4A4A4A;
  border-bottom: 4px solid #4A4A4A;
  text-transform: uppercase;
}

body h2 {
  padding: 16px 0px;
  font-size: 28px;
  color: #4A4A4A;
  font-weight: normal;
}

body p {
  text-align: justify;
  color: #4A4A4A;
}

/***********************************
Banner Section
***********************************/
#banner {
  padding: 0 16px;
  height: 100vh;
  background-color: #161616;
}

#banner-container {
  height: 100%;
}

#banner-container > svg {
  padding: 12px;
  max-width: 600px;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-dasharray: 1500;
  -webkit-animation: animate 3s cubic-bezier(0.49, 0.08, 0.94, 0.59);
          animation: animate 3s cubic-bezier(0.49, 0.08, 0.94, 0.59);
}

#banner-container > p {
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  color: #FFFFFF;
  border-right: 2px solid transparent;
  -webkit-animation: typewriter 2s steps(50) 2s 1 normal both, blinkTextCursor 700ms steps(50) 2.1s infinite normal;
          animation: typewriter 2s steps(50) 2s 1 normal both, blinkTextCursor 700ms steps(50) 2.1s infinite normal;
}

#banner-button-container {
  margin: 32px;
  padding: 8px;
  font-size: 22px;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  -webkit-animation: raise 5s ease forwards;
          animation: raise 5s ease forwards;
}

#banner-button-container > p {
  color: #FFFFFF;
}

#banner-button-container > svg {
  fill: #FFFFFF;
  width: 16px;
}

#banner-button-container:hover {
  border: 2px solid #2E82FF;
  background-color: #2E82FF;
}

/***********************************
Nav Section
***********************************/
#nav {
  top: 0;
  z-index: 1;
  padding: 0 16px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #111111;
  border-bottom: 3px solid #2E82FF;
}

#nav-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-container > svg {
  width: 222px;
  margin: 8px 0;
  fill: #FFFFFF;
  stroke-miterlimit: 10;
}

#nav-bar-container {
  padding: 14px 0;
}

#nav-bar-container > a {
  padding: 0 14px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

#nav-bar-container > a:first-of-type {
  padding-left: 0;
}

#nav-bar-container > a:last-of-type {
  padding-right: 0;
}

#nav-bar-container > a:hover {
  color: #E31B6D;
}

#nav-bar-container .active {
  color: #E31B6D;
}

/***********************************
About Section
***********************************/
#about-container > img {
  width: 274px;
  height: 274px;
  border-radius: 137px;
  background-color: #2E82FF;
  border: 2px solid #2E82FF;
}

#about-container > p {
  max-width: 1000px;
  padding: 0 36px;
}

#about-container > p > .know {
  color: #2E82FF;
}

#about-container > p > .learn {
  color: #E31B6D;
}

/***********************************
Skills Section
***********************************/
#skill-groups-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill-container {
  padding: 32px;
  text-align: center;
}

.skill-container > ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 128px;
  width: 256px;
  border: 1px solid #4A4A4A;
  border-radius: 12px;
  list-style-type: none;
}

.skill-container > ul li {
  color: #4A4A4A;
}

/***********************************
Projects Section
***********************************/
#project-groups-container {
  position: relative;
  max-width: 900px;
}

.individual-project-container {
  padding: 32px 24px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-left-container {
  width: 15%;
  text-align: center;
  text-decoration: none;
}

.project-left-container p {
  color: #4A4A4A;
  font-size: 16px;
  text-align: center;
}

.project-left-container img {
  width: 64px;
  height: 64px;
}

.project-left-container:hover img {
  -webkit-animation: enlarge 150ms linear;
          animation: enlarge 150ms linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-left-container:hover p {
  -webkit-animation: raise 250ms linear forwards;
          animation: raise 250ms linear forwards;
}

.project-right-container {
  padding-left: 64px;
  width: 85%;
}

.project-right-container p {
  color: #4A4A4A;
  font-size: 16px;
}

.project-right-container ul:first-of-type li {
  display: inline-block;
  border: 1px solid #4A4A4A;
  border-radius: 8px;
}

.project-right-container ul:first-of-type li a {
  display: block;
  color: #4A4A4A;
  padding: 2px 8px;
  font-size: 12px;
  text-decoration: none;
}

.project-right-container ul:first-of-type li a:hover {
  color: #FFFFFF;
}

.project-right-container ul:first-of-type li:hover {
  color: #FFFFFF;
  background-color: #E31B6D;
  border: 1px solid #E31B6D;
}

.project-right-container ul:last-of-type li {
  display: inline-block;
  padding: 1px 4px;
  font-size: 11px;
  border-radius: 8px;
}

.project-right-container ul:last-of-type li.front {
  background-color: #ff4291;
  color: #FFFFFF;
}

.project-right-container ul:last-of-type li.back {
  background-color: #3284ff;
  color: #FFFFFF;
}

#more-info-container {
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 24px -12px;
          box-shadow: 0 0 24px -12px;
  border-radius: 24px;
}

/***********************************
Contact Section
***********************************/
#contact {
  padding: 0;
  background-color: #FFFFFF;
}

#clip-path {
  background-color: #161616;
  -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}

#contact-container {
  padding: 92px 0 24px 0;
}

#contact-container h1 {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}

#contact-container h2 {
  padding: 0 0 32px 0;
  color: #2E82FF;
}

#contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
}

#contact-container form input,
#contact-container form textarea {
  margin: 2px 0;
  padding: 12px 8px;
  width: 484px;
  background-color: #111111;
  color: #FFFFFF;
  font-size: 15px;
  border: none;
  outline: none;
}

#contact-container form button {
  margin-top: 4px;
  margin-left: auto;
  width: 96px;
  height: 38px;
  background-color: #161616;
  font-size: 14px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
}

#contact-container form button:hover {
  border: 1px solid #2E82FF;
  background-color: #2E82FF;
}

#back-to-top-container {
  position: relative;
}

#back-to-top-container a {
  position: absolute;
  top: -24px;
  width: 48px;
  height: 48px;
  background-color: #E31B6D;
}

#back-to-top-container a svg {
  fill: #FFFFFF;
  width: 18px;
  height: 18px;
}

#back-to-top-container a:hover {
  -webkit-animation: shrink 100ms linear;
          animation: shrink 100ms linear;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/***********************************
Footer Section
***********************************/
#footer-container p {
  font-size: 13px;
  color: #727272;
  text-transform: uppercase;
}

#footer-container span {
  color: #E31B6D;
}

#social-links-container {
  padding: 48px 0 32px 0;
}

#social-links-container a {
  margin: 14px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-color: #222222;
  overflow: hidden;
}

#social-links-container a svg {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

#social-links-container a:hover {
  background-color: #2E82FF;
  -webkit-animation: shrink 250ms linear;
          animation: shrink 250ms linear;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#social-links-container a:hover svg {
  -webkit-animation: raise-social 250ms linear forwards;
          animation: raise-social 250ms linear forwards;
}

@media only screen and (max-width: 500px) {
  #banner-container p {
    font-size: 12px;
  }
  #contact-container form {
    width: 96%;
  }
  #contact-container form input,
  #contact-container form textarea {
    width: 100%;
  }
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1500;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1500;
  }
  90% {
    fill: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 10;
    fill: white;
    stroke-dashoffset: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1500;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1500;
  }
  90% {
    fill: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 10;
    fill: white;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 25em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 25em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@-webkit-keyframes raise {
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  80% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
}

@keyframes raise {
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
  80% {
    opacity: 0;
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes shrink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes enlarge {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes enlarge {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes raise-social {
  30% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  70% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes raise-social {
  30% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  70% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes raise {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}
/*# sourceMappingURL=style.css.map */