@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
$backgroundPrimary: #171717;
$backgroundSecondary: #e8e8e8;
$backgroundTertiary: #151515;
$colorLightPrimary: #e8e8e8;
$colorLightSecondary: #e2e2e2;
$colorLightTertiary: #8d8d8d;
$colorLightTertiaryAlt: #b9b9b9;
$colorDarkPrimary: #171717;
$colorDarkSecondary: #4d4d4d;
$colorDarkTertiary: #404040;
$highlightPrimary: #e31b6d;
$highlightSecondary: #2e82ff;

/* Global Defaults*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Tag Defaults*/
html {
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 82px;
}

h2 {
  padding-bottom: 8px;
  font-weight: 900;
  font-size: 64px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Class Defaults */
.container {
  padding: 102px 102px 128px 102px;
}

.content {
  padding-bottom: 24px;
}

.flex {
  display: flex;
  align-items: center;
}

.wave {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  &__container {
    z-index: 0;
    position: relative;

    &::before {
      display: block;
      height: 45vh;
      content: "";
    }

    & > svg {
      position: absolute;
      left: 0;
    }

    &--dark {
      background-color: rgba($color: #0d0d0d, $alpha: 0.15);

      & > svg {
        fill: rgba($color: #0d0d0d, $alpha: 0.15);
      }
    }

    &--light {
      background-color: rgba($color: #0d0d0d, $alpha: 0.025);

      & > svg {
        fill: rgba($color: #0d0d0d, $alpha: 0.025);
      }
    }
  }

  &--verticalFlip {
    bottom: 0;
    transform: scaleY(-1);
  }

  &--horizontalFlip {
    bottom: 0;
    transform: scaleY(-1);
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  background: none;

  &--primary1 {
    padding: 12px 36px;
    border-color: $highlightPrimary;
    border-radius: 16px;
    color: $highlightPrimary;
    font-size: 15px;
    fill: $highlightPrimary;

    > svg {
      height: 14px;
      padding-left: 8px;
    }
  }

  &--secondary1 {
    padding: 12px 36px;
    border: none;
    border-radius: 16px;
    color: $colorLightTertiaryAlt;
    font-size: 15px;

    svg {
      height: 14px;
      padding-left: 8px;
    }
  }

  &--primary2 {
    border-color: $highlightPrimary;
    border-radius: 2px;
    color: $highlightPrimary;
    fill: $highlightPrimary;
  }

  &--primary3 {
    border-color: $highlightSecondary;
    border-radius: 2px;
    color: $highlightSecondary;
    fill: $highlightSecondary;
  }
}
/* Nav */
.nav {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &__container {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px 0 24px;
    pointer-events: visible;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    & > svg {
      width: 42px;
      height: 42px;
      fill: $colorLightPrimary;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    color: $colorLightPrimary;
    font-weight: 400;
    font-size: 18px;

    &--active {
      border-bottom: 4px solid $highlightPrimary;
      color: $highlightPrimary;
      font-weight: 700;
    }
  }

  &__side {
    position: sticky;
    float: right;
    top: calc(50vh - 136px);
    pointer-events: visible;
  }

  &__socials {
    // background: $backgroundTertiary;
    // box-shadow: 0 8px 16px rgba($color: #000000, $alpha: 0.3);
    // padding: 8px 20px 8px 20px;
    display: inline-flex;
    flex-direction: column;
    // border-radius: 4px 0 0 4px;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 26px;
    border: 3px solid $highlightPrimary;
    // background-color: $backgroundTertiary;
    margin: 8px 24px;
    // box-shadow: 0 0px 12px rgba($color: $highlightPrimary, $alpha: 0.2);

    & > svg {
      width: 24px;
      height: 24px;
      fill: $highlightPrimary;
    }
  }
}

/* Header */
.header {
  z-index: 2;
  position: relative;
  height: 100vh;
  background-color: $backgroundPrimary;

  &__container {
    z-index: 2;
    position: relative;
    height: 100%;
  }

  &__heading {
    margin-left: -6px;
    color: $colorLightPrimary;
  }

  &__sub {
    padding-bottom: 48px;
    color: $colorLightTertiary;
  }

  > svg {
    z-index: 1;
    position: absolute;
    top: -4vh;
    right: -12vh;
    width: 110vh;
    height: 110vh;
    filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.3));
    transform: rotate(-30deg);
    fill: $colorDarkPrimary;
  }

  &__waveTop {
    &__container {
      &::before {
        height: 40vh;
      }
    }
  }

  &__waveLow {
    &__container {
      &::before {
        height: calc(40vh + 108px);
      }
    }
  }
}

/* About */
.about {
  z-index: 0;
  position: relative;
  background-color: $backgroundSecondary;

  &__container {
    z-index: 1;
    position: relative;
  }

  &__sub {
    padding-bottom: 48px;
    color: $colorDarkSecondary;
    font-weight: 700;
    font-size: 18px;
  }

  &__paragraph {
    max-width: 680px;
    padding-bottom: 18px;
    color: $colorDarkTertiary;

    & > span {
      color: $highlightSecondary;
    }
  }

  &__waveTop {
    &__container {
      &::before {
        height: 48px;
      }
    }
  }

  &__waveLow {
    &__container {
      &::before {
        height: calc(48px + 108px);
      }
    }
  }
}

/* Skills */
.skills {
  z-index: 0;
  position: relative;
  background-color: $backgroundPrimary;

  &__heading {
    padding-bottom: 64px;
    color: $colorLightPrimary;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 64px;

    &::before {
      width: 0;
      padding-bottom: 100%;
      content: "";
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    & > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: $backgroundPrimary;
    box-shadow: 0px 6px 16px rgba(10, 10, 10, 0.5);

    & > svg {
      width: 60%;
      height: 60%;
    }
    &__name {
      padding-top: 10%;
      color: $colorLightPrimary;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

/* Projects */
.projects {
  background-color: $backgroundSecondary;
}

/* Contact */
.contact {
  background-color: $backgroundPrimary;
}

/* Footer */
.Footer {
  background-color: $backgroundTertiary;
}
