@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
/* Global Defaults*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Tag Defaults*/
html {
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 82px;
}

h2 {
  padding-bottom: 8px;
  font-weight: 900;
  font-size: 64px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Class Defaults */
.container {
  padding: 102px 102px 128px 102px;
}

.content {
  padding-bottom: 24px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wave {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.wave__container {
  z-index: 0;
  position: relative;
}

.wave__container::before {
  display: block;
  height: 45vh;
  content: "";
}

.wave__container > svg {
  position: absolute;
  left: 0;
}

.wave__container--dark {
  background-color: rgba(13, 13, 13, 0.15);
}

.wave__container--dark > svg {
  fill: rgba(13, 13, 13, 0.15);
}

.wave__container--light {
  background-color: rgba(13, 13, 13, 0.025);
}

.wave__container--light > svg {
  fill: rgba(13, 13, 13, 0.025);
}

.wave--verticalFlip {
  bottom: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.wave--horizontalFlip {
  bottom: 0;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid;
  background: none;
}

.button--primary1 {
  padding: 12px 36px;
  border-color: #e31b6d;
  border-radius: 16px;
  color: #e31b6d;
  font-size: 15px;
  fill: #e31b6d;
}

.button--primary1 > svg {
  height: 14px;
  padding-left: 8px;
}

.button--secondary1 {
  padding: 12px 36px;
  border: none;
  border-radius: 16px;
  color: #b9b9b9;
  font-size: 15px;
}

.button--secondary1 svg {
  height: 14px;
  padding-left: 8px;
}

.button--primary2 {
  border-color: #e31b6d;
  border-radius: 2px;
  color: #e31b6d;
  fill: #e31b6d;
}

.button--primary3 {
  border-color: #2e82ff;
  border-radius: 2px;
  color: #2e82ff;
  fill: #2e82ff;
}

/* Nav */
.nav {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px 0 24px;
  pointer-events: visible;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.nav__logo > svg {
  width: 42px;
  height: 42px;
  fill: #e8e8e8;
}

.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  padding: 0 24px;
  color: #e8e8e8;
  font-weight: 400;
  font-size: 18px;
}

.nav__link--active {
  border-bottom: 4px solid #e31b6d;
  color: #e31b6d;
  font-weight: 700;
}

.nav__side {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: calc(50vh - 136px);
  pointer-events: visible;
}

.nav__socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  border: 3px solid #e31b6d;
  margin: 8px 24px;
}

.nav__social > svg {
  width: 24px;
  height: 24px;
  fill: #e31b6d;
}

/* Header */
.header {
  z-index: 2;
  position: relative;
  height: 100vh;
  background-color: #171717;
}

.header__container {
  z-index: 2;
  position: relative;
  height: 100%;
}

.header__heading {
  margin-left: -6px;
  color: #e8e8e8;
}

.header__sub {
  padding-bottom: 48px;
  color: #8d8d8d;
}

.header > svg {
  z-index: 1;
  position: absolute;
  top: -4vh;
  right: -12vh;
  width: 110vh;
  height: 110vh;
  -webkit-filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.3));
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  fill: #171717;
}

.header__waveTop__container::before {
  height: 40vh;
}

.header__waveLow__container::before {
  height: calc(40vh + 108px);
}

/* About */
.about {
  z-index: 0;
  position: relative;
  background-color: #e8e8e8;
}

.about__container {
  z-index: 1;
  position: relative;
}

.about__sub {
  padding-bottom: 48px;
  color: #4d4d4d;
  font-weight: 700;
  font-size: 18px;
}

.about__paragraph {
  max-width: 680px;
  padding-bottom: 18px;
  color: #404040;
}

.about__paragraph > span {
  color: #2e82ff;
}

.about__waveTop__container::before {
  height: 48px;
}

.about__waveLow__container::before {
  height: calc(48px + 108px);
}

/* Skills */
.skills {
  z-index: 0;
  position: relative;
  background-color: #171717;
}

.skills__heading {
  padding-bottom: 64px;
  color: #e8e8e8;
}

.skills__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 64px;
}

.skills__block::before {
  width: 0;
  padding-bottom: 100%;
  content: "";
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.skills__block > *:first-child {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.skills__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background: #171717;
  -webkit-box-shadow: 0px 6px 16px rgba(10, 10, 10, 0.5);
          box-shadow: 0px 6px 16px rgba(10, 10, 10, 0.5);
}

.skills__card > svg {
  width: 60%;
  height: 60%;
}

.skills__card__name {
  padding-top: 10%;
  color: #e8e8e8;
  font-weight: 600;
  font-size: 18px;
}

/* Projects */
.projects {
  background-color: #e8e8e8;
}

/* Contact */
.contact {
  background-color: #171717;
}

/* Footer */
.Footer {
  background-color: #151515;
}
/*# sourceMappingURL=style.css.map */